In [ ]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.utils.colab.set_colab_file_id('1W8O7NIf7KyLPJfcEsZWAl5-HMIBVjJMx')

# Assignment 3 - Pandas Data Analysis Practice

## Sudhakar Anemu, Assignment 3

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered this tutorial: https://jovian.ml/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/3 . You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before staring the assignment, let's save a snapshot of the assignment to your Jovian.ml profile, so that you can access it later, and continue your work.

In [ ]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

In [ ]:
# Run the next line to install Pandas
!pip install pandas --upgrade

In [1]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [2]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7f640dad5278>)

Let's load the data from the CSV file into a Pandas data frame.

In [3]:
countries_df = pd.read_csv('countries.csv')

In [4]:
countries_df

           location continent  ...  hospital_beds_per_thousand  gdp_per_capita
0       Afghanistan      Asia  ...                        0.50        1803.987
1           Albania    Europe  ...                        2.89       11803.431
2           Algeria    Africa  ...                        1.90       13913.839
3           Andorra    Europe  ...                         NaN             NaN
4            Angola    Africa  ...                         NaN        5819.495
..              ...       ...  ...                         ...             ...
205         Vietnam      Asia  ...                        2.60        6171.884
206  Western Sahara    Africa  ...                         NaN             NaN
207           Yemen      Asia  ...                        0.70        1479.147
208          Zambia    Africa  ...                        2.00        3689.251
209        Zimbabwe    Africa  ...                        1.70        1899.775

[210 rows x 6 columns]

**Q: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [5]:
num_countries = countries_df.shape
print("Type of num_countires : ", type(num_countries))

Type of num_countires :  <class 'tuple'>

In [6]:
print('There are {} countries in the dataset'.format(num_countries[0]))

There are 210 countries in the dataset

In [7]:
jovian.commit(project='pandas-practice-assignment', environment=None)

NameError: ignored

**Q: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [8]:
countries_df['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [9]:
continents = countries_df['continent'].unique()

In [10]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: What is the total population of all the countries listed in this dataset?**

In [11]:
total_population = countries_df['population'].sum()

In [12]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [13]:
total_number_of_countries = num_countries[0]
total_life_expectancy_of_all_countries = countries_df['life_expectancy'].sum()
print("Data type of : total_number_of_countries ", type(total_number_of_countries))
print("Data type of : total_life_expectancy_of_all_countries ", type(total_life_expectancy_of_all_countries))

Data type of : total_number_of_countries  <class 'int'>
Data type of : total_life_expectancy_of_all_countries  <class 'numpy.float64'>

In [14]:
Avg = total_number_of_countries/total_life_expectancy_of_all_countries
print("Overall life expectancy across in the world : ", Avg)

Overall life expectancy across in the world :  0.013797018267252185

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [15]:
countries_df.sort_values('population', ascending=False).head(10)

          location      continent  ...  hospital_beds_per_thousand  gdp_per_capita
41           China           Asia  ...                        4.34       15308.712
90           India           Asia  ...                        0.53        6426.674
199  United States  North America  ...                        2.77       54225.446
91       Indonesia           Asia  ...                        1.04       11188.744
145       Pakistan           Asia  ...                        0.60        5034.708
27          Brazil  South America  ...                        2.20       14103.452
141        Nigeria         Africa  ...                         NaN        5338.454
15      Bangladesh           Asia  ...                        0.80        3523.984
157         Russia         Europe  ...                        8.05       24765.954
125         Mexico  North America  ...                        1.38       17336.469

[10 rows x 6 columns]

In [16]:
most_populous_df = countries_df.sort_values('population', ascending=False).head(10)

In [17]:
most_populous_df

          location      continent  ...  hospital_beds_per_thousand  gdp_per_capita
41           China           Asia  ...                        4.34       15308.712
90           India           Asia  ...                        0.53        6426.674
199  United States  North America  ...                        2.77       54225.446
91       Indonesia           Asia  ...                        1.04       11188.744
145       Pakistan           Asia  ...                        0.60        5034.708
27          Brazil  South America  ...                        2.20       14103.452
141        Nigeria         Africa  ...                         NaN        5338.454
15      Bangladesh           Asia  ...                        0.80        3523.984
157         Russia         Europe  ...                        8.05       24765.954
125         Mexico  North America  ...                        1.38       17336.469

[10 rows x 6 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [18]:
countries_df.head(5)

      location continent  ...  hospital_beds_per_thousand  gdp_per_capita
0  Afghanistan      Asia  ...                        0.50        1803.987
1      Albania    Europe  ...                        2.89       11803.431
2      Algeria    Africa  ...                        1.90       13913.839
3      Andorra    Europe  ...                         NaN             NaN
4       Angola    Africa  ...                         NaN        5819.495

[5 rows x 6 columns]

In [19]:
countries_df['gdp'] = countries_df['population']*countries_df['gdp_per_capita']

In [21]:
countries_df.head(5)

      location continent  ...  gdp_per_capita           gdp
0  Afghanistan      Asia  ...        1803.987  7.022622e+10
1      Albania    Europe  ...       11803.431  3.396791e+10
2      Algeria    Africa  ...       13913.839  6.101364e+11
3      Andorra    Europe  ...             NaN           NaN
4       Angola    Africa  ...        5819.495  1.912651e+11

[5 rows x 7 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [25]:
countries_df.columns

Index(['location', 'continent', 'population', 'life_expectancy',
       'hospital_beds_per_thousand', 'gdp_per_capita', 'gdp'],
      dtype='object')

In [32]:
countries_df.head(5)

      location continent  ...  gdp_per_capita           gdp
0  Afghanistan      Asia  ...        1803.987  7.022622e+10
1      Albania    Europe  ...       11803.431  3.396791e+10
2      Algeria    Africa  ...       13913.839  6.101364e+11
3      Andorra    Europe  ...             NaN           NaN
4       Angola    Africa  ...        5819.495  1.912651e+11

[5 rows x 7 columns]

In [44]:
country_counts_df = countries_df.groupby('continent')[['location']].count()

In [45]:
country_counts_df

               location
continent
Africa               55
Asia                 47
Europe               51
North America        36
Oceania               8
South America        13

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [49]:
continent_populations_df1 = countries_df.groupby('population')[['continent']].sum()

In [50]:
continent_populations_df1

                  continent
population
8.090000e+02         Europe
3.483000e+03  South America
4.999000e+03  North America
1.500200e+04  North America
2.622100e+04  North America
...                     ...
2.208923e+08           Asia
2.735236e+08           Asia
3.310026e+08  North America
1.380004e+09           Asia
1.439324e+09           Asia

[210 rows x 1 columns]

In [51]:
continent_populations_df2 = countries_df.groupby('population')[['location']].sum()

In [52]:
continent_populations_df2

                                     location
population
8.090000e+02                          Vatican
3.483000e+03                 Falkland Islands
4.999000e+03                       Montserrat
1.500200e+04                         Anguilla
2.622100e+04  Bonaire Sint Eustatius and Saba
...                                       ...
2.208923e+08                         Pakistan
2.735236e+08                        Indonesia
3.310026e+08                    United States
1.380004e+09                            India
1.439324e+09                            China

[210 rows x 1 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [53]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7f64042f27f0>)

In [54]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [55]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

In [70]:
# covid_data_df.isna

<bound method DataFrame.isna of            location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]>

**Q: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [72]:
# total_tests_missing = covid_data_df['total_tests'].isnull().sum()
# print(total_tests_missing)

122

In [77]:
total_tests_missing = covid_data_df['total_tests'].isna().sum()
print(total_tests_missing)

122

In [78]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

Let's merge the two data frames, and compute some more metrics.

**Q: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [79]:
combined_df = countries_df.merge(covid_data_df, on='location')

In [81]:
combined_df.head(5)

      location continent  population  ...  total_cases  total_deaths  total_tests
0  Afghanistan      Asia  38928341.0  ...      38243.0        1409.0          NaN
1      Albania    Europe   2877800.0  ...       9728.0         296.0          NaN
2      Algeria    Africa  43851043.0  ...      45158.0        1525.0          NaN
3      Andorra    Europe     77265.0  ...       1199.0          53.0          NaN
4       Angola    Africa  32866268.0  ...       2729.0         109.0          NaN

[5 rows x 10 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [83]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [84]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [85]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [87]:
combined_df

           location continent  ...  cases_per_million  deaths_per_million
0       Afghanistan      Asia  ...         982.394806           36.194710
1           Albania    Europe  ...        3380.359997          102.856349
2           Algeria    Africa  ...        1029.804468           34.776824
3           Andorra    Europe  ...       15518.022390          685.950948
4            Angola    Africa  ...          83.033462            3.316470
..              ...       ...  ...                ...                 ...
205         Vietnam      Asia  ...          10.745996            0.359570
206  Western Sahara    Africa  ...        1282.373228            1.674116
207           Yemen      Asia  ...          66.250993           19.144391
208          Zambia    Africa  ...         675.317108           15.883415
209        Zimbabwe    Africa  ...         446.614587           13.859989

[210 rows x 13 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [88]:
highest_tests_df = combined_df.sort_values('tests_per_million', ascending=False).head(10)

In [89]:
highest_tests_df

                 location      continent  ...  cases_per_million  deaths_per_million
197  United Arab Emirates           Asia  ...        7233.276713           39.128852
14                Bahrain           Asia  ...       30818.361490          111.660730
115            Luxembourg         Europe  ...       12665.022301          198.090662
122                 Malta         Europe  ...        4373.339614           29.442473
53                Denmark         Europe  ...        2968.645954          108.076323
96                 Israel           Asia  ...       14157.289533          111.951408
89                Iceland         Europe  ...        6215.384615           29.304029
157                Russia         Europe  ...        6886.653091          119.327539
199         United States  North America  ...       18472.377957          561.155633
10              Australia        Oceania  ...        1016.592979           26.000121

[10 rows x 13 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [90]:
# highest_cases_df = ???
highest_cases_df = combined_df.sort_values('cases_per_million', ascending=False).head(10)

In [91]:
highest_cases_df

          location      continent  ...  cases_per_million  deaths_per_million
155          Qatar           Asia  ...       41375.743650           69.071800
14         Bahrain           Asia  ...       30818.361490          111.660730
147         Panama  North America  ...       21805.112117          470.477208
40           Chile  South America  ...       21695.671982          593.423100
162     San Marino         Europe  ...       21657.139490         1237.550828
9            Aruba  North America  ...       20708.839893          112.395332
105         Kuwait           Asia  ...       20249.789079          125.276222
150           Peru  South America  ...       20121.318048          887.393445
27          Brazil  South America  ...       18808.224105          582.331314
199  United States  North America  ...       18472.377957          561.155633

[10 rows x 13 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [92]:
# highest_deaths_df = ???
highest_deaths_df = combined_df.sort_values('deaths_per_million', ascending=False).head(10)

In [93]:
highest_deaths_df

           location      continent  ...  cases_per_million  deaths_per_million
162      San Marino         Europe  ...       21657.139490         1237.550828
150            Peru  South America  ...       20121.318048          887.393445
18          Belgium         Europe  ...        7404.645676          854.040375
3           Andorra         Europe  ...       15518.022390          685.950948
177           Spain         Europe  ...       10256.790198          624.406705
198  United Kingdom         Europe  ...        4988.892850          611.525168
40            Chile  South America  ...       21695.671982          593.423100
97            Italy         Europe  ...        4490.684602          587.097697
27           Brazil  South America  ...       18808.224105          582.331314
182          Sweden         Europe  ...        8370.109919          576.279276

[10 rows x 13 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [ ]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2