#<h1><center>**********INDEX **********</center></h1><br>


1. [Pre requisites](#p1)<br>
1 1. [About this Project ](#s1)<br>
1 2. [Installing alll required Packages ](#s2)<br>
1 3. [Importing - Packages/Modules](#s3)<br>
1 3 1.[Importing Data from the Google Drive](#s31)<br>
1 4. [Connecting to the Database](#s4)<br>
1 5. [Fetch Data from the Tables](#s5)<br>
1 6. [Find the Count of Rows from each Table](#s6)<br>
1 7. [Extracting data from respective Tables](#s7)<br>
1 7 1. [Table - Gender_Age_Train](#s8)<br>
1 7 2. [Table - Phone_Brand_Device](#s9)<br>
1 8. [Copy Data from the Google Drive](#s10)<br>
2. [Working on Events_data](#s11)<br>
3. [Working on Gender_Age_Train](#s12)<br>
4. [Working on Phone_Brand_Device_Model](#s13)<br>
5. [Observations and Handling the data](#s14)<br>

# 1 Pre requsites <a name = p1></a>

##1 1 About the Project <a name = "s1"></a>




<br>Below data was observed from Events_data Table: 
<br>1. This table has 3252950 observations and 7 columns.
<br>2. Names of columns : 'event_id', 'device_id', 'timestamp', 'longitude', 'latitude', 'city', 'state'
<br>3. Datatypes : 
event_id     float64,  device_id    float64, timestamp    object, longitude    float64, latitude     float64, city         object, state        object
<br>4. 

| S.No 	| Column 	| Observation                  	|
|------	|--------------	|----------------------	|
| 1    	| device_id    	| It has 453 Null Values	|
| 2    	| Longitude          	| It has 423 Null Values|
| 4    	| Latitude          	| It has 423 Null Values|
| 4    	| State          	| It has 377 Null Values|

##1 2 Installing all required packages <a name = "s2"></a>
<br>1. mysql.connector
<br>2. sqlalchemy
<br>3. psycopg2-binary

In [1]:
!pip install mysql.connector
!pip install sqlalchemy
!pip install psycopg2-binary
!pip install pymysql

Collecting mysql.connector
  Downloading https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz (11.9MB)
     |████████████████████████████████| 11.9MB 84kB/s
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp36-cp36m-linux_x86_64.whl size=247949 sha256=b898e5fd0d74dc7e69e08286c3758f436cd0d140c13441588896ca8f793fdd4f
  Stored in directory: /root/.cache/pip/wheels/8c/83/a1/f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.15)
Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/1e/c0/16303cef8d54fdcfae7be7880cf471f21449225687f61cc3be2a7ef4e6e5/psycopg2_binary-2.8.4-cp36-cp36m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 95kB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.4
Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 4.2MB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

##1 3 Importing all required Packages and Modules <a name = "s3"></a>

In [2]:
# Importing mysql Packages

import mysql.connector as mysql
from sqlalchemy import create_engine

print("Import completed")

Import completed

In [3]:
#Importing Pandas 

import pandas as pd
import numpy as np
import seaborn as sns

print("Import completed")

Import completed

### 1 3 1 Import data from Google Drive <a name = "s31"></a>

In [0]:
# To connect to Google Drive : 

from google.colab import drive
drive.mount('/content/drive')

## 1 4 Connecting the Database<a name = "s4"></a>

In [0]:
db = mysql.connect(
    host = "cpanel.insaid.co",
    user = "student",
    passwd = "student",
    database = "Capstone1"
)
print("Connection successful - Details of the connected DB : ", db)

## 1 5 Fetch details of Tables <a name = "s5"></a>

In [0]:
cursor = db.cursor()
## getting all the tables which are present in 'db' database
cursor.execute("SHOW TABLES")
tables = cursor.fetchall() ## it returns list of tables present in the database
## showing all the tables one by one
print("List of Tables under the database : student")
for table in tables:
    print(table)

## 1 6 Find the Count of Rows from each Table<a name = "s6"></a>

In [0]:
cursor = db.cursor()
cursor.execute("select count(*) from events_data")
tables = cursor.fetchall() ## it returns list of tables present in the database
## showing all the tables one by one
for table in tables:
    print("Table events_data has ", table, " rows")

cursor.execute("select count(*) from gender_age_train")
tables = cursor.fetchall() ## it returns list of tables present in the database
## showing all the tables one by one
for table in tables:
    print("Table gender_age_train has ", table, " rows")

cursor.execute("select count(*) from phone_brand_device_model")
tables = cursor.fetchall() ## it returns list of tables present in the database
## showing all the tables one by one
for table in tables:
    print("Table phone_brand_device_model has ", table, " rows")

##1 7 Extracting rows from Tables<a name = "s7"></a>

### 1 7 1 Table - Gener_Age_Train<a name = "s8"></a>

In [0]:
engine = create_engine('mysql+pymysql://student:student@cpanel.insaid.co:3306/Capstone1')
df = pd.read_sql_table("gender_age_train", engine)
df.to_csv('gender_age_train.csv')

###1 7 2 Table - Phone_Brand_Device_Model<a name = "s9"></a>

In [0]:
engine = create_engine('mysql+pymysql://student:student@cpanel.insaid.co:3306/Capstone1')
df = pd.read_sql_table("phone_brand_device_model", engine)
df.to_csv('phone_brand_device_model.csv')

## 1 8 Copy data from the Google Drive<a name = "s10"></a>

In [0]:
!ls drive/'My Drive'/1014capstone/
!mkdir -p data
!cp -R drive/'My Drive'/1014capstone/* data/

# 2 Working on Events_data<a name = "s11"></a>

## 2 1 Read Events_data to a DataFrame

In [0]:
dt_evnts = pd.read_csv('/content/data/events_data.csv')

##2 2 Shape of the Events_data

In [0]:
dt_evnts.shape

## 2 3 Display of first 10 rows

In [0]:
dt_evnts.head(10)

##2 4 Columns of the Events_data

In [0]:
dt_evnts.columns

##2 5 Information of the Events_data

In [0]:
dt_evnts.info()

##2 6 Description of the Events data

In [0]:
dt_evnts.describe()

In [0]:
dt_evnts.describe(include="all")

##2 7 Counting Null of each column

In [0]:
dt_evnts.isnull().sum()

# 3 Working on Gender_Age_Train<a name = "s12"></a>

##3 1 Read GenderAgeTrain to a DataFrame

In [0]:
dt_gat = pd.read_csv('/content/data/gender_age_train.csv')

##3 2 Shape of the GAT data

In [0]:
dt_gat.shape

##3 3 Dispaly of first 10 rows

In [0]:
dt_gat.head(10)

##3 4 Columns of the GAT

In [0]:
dt_gat.columns

##3 5 Information of the GAT

In [0]:
dt_gat.info()

##3 6 Description of the GAT

In [0]:
dt_gat.describe()

In [0]:
dt_gat.describe(include="all")

##3 7 Counting Null of each Column

In [0]:
dt_gat.isnull().sum()

# 4 Working on Phone_Brand_Device_Model<a name = "s13"></a>

##4 1 Read PhoneBrandDeviceModel Data to a Dataframe

In [0]:
dt_pbd = pd.read_csv('/content/data/phone_brand_device_model.csv')

##4 2 Shape of the PBD data

In [0]:
dt_pbd.shape

##4 3 Display first 10 rows of the PBD Data

In [0]:
dt_pbd.head(10)

##4 4 Columns of the PBD Data

In [0]:
dt_pbd.columns

##4 5 Information of the PBD data

In [0]:
dt_pbd.info()

##4 6 Description of the PBD data

In [0]:
dt_pbd.describe()

In [0]:
dt_pbd.describe(include="all")

##4 7 Counting Null of each Column

In [0]:
dt_pbd.isnull().sum()

# 5 Observations and Handling the data <a name = "s14"></a>



<br>Below data was observed from Events_data : 
<br>1. This table has 3252950 observations and 7 columns.
<br>2. Names of columns : 'event_id', 'device_id', 'timestamp', 'longitude', 'latitude', 'city', 'state'
<br>3. Datatypes : 
event_id     float64,  device_id    float64, timestamp    object, longitude    float64, latitude     float64, city         object, state        object
<br>4. 

| S.No 	| Column 	| Observation                  	|
|------	|--------------	|----------------------	|
| 1    	| device_id    	| It has 453 Null Values	|
| 2    	| Longitude          	| It has 423 Null Values|
| 4    	| Latitude          	| It has 423 Null Values|
| 4    	| State          	| It has 377 Null Values|

## Define a Dataframe for the specific state(Andhra Pradesh)

In [0]:
df_ap=dt_evnts[df_evnts.state=="AndhraPradesh"]

In [0]:
df_ap.shape

In [0]:
df_ap.head(10)

In [0]:
df_ap.isnull().sum()

Fill the NaN of device_id

In [0]:
df_ap["device_id"].fillna( method ='ffill', limit = 1, inplace = True)

Fill the Nan of the Longituted

In [0]:
df_ap["longitude"].fillna( method ='ffill',inplace = True)

Fill the Nan of the Lattitude

In [0]:
df_ap["latitude"].fillna( method ='ffill',inplace = True)

Null values of the Dataframe - AP after filling it.

In [0]:
df_ap.isnull().sum()